openapi: 3.1.0
info:
  title: Huma API
  version: 1.53.0-SNAPSHOT
servers:
  - url: https://demo.openapi.humahr.com
    description: Generated server url
tags:
  - name: Position
    description: Endpoints for user positions.
  - name: Authentication
    description: Endpoints for authentication and tokens.
  - name: Job Title
    description: Endpoints for job titles.
  - name: Holiday
    description: Endpoints for public holidays.
  - name: User child
    description: Endpoints for user management.
  - name: User identification
    description: Endpoints for user management.
  - name: User
    description: Endpoints for user management.
  - name: Group
    description: Endpoints for group management.
  - name: User emergency contact
    description: Endpoints for user management.
paths:
  /users/{userId}/identifications/{id}:
    put:
      tags:
        - User identification
      summary: Update identification
      description: Updates an existing identification entry for the specified user.
      operationId: updateIdentification
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IdentificationInput'
        required: true
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserIdentification'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidFieldFormatResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidTokenResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorResponse'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardServerErrorResponse'
      security:
        - authentication: []
    delete:
      tags:
        - User identification
      summary: Remove identification
      description: Removes an identification entry by its ID for the specified user.
      operationId: removeIdentification
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Deleted Successfully
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidFieldFormatResponse'
      security:
        - authentication: []
  /users/{userId}/emergency/{id}:
    put:
      tags:
        - User emergency contact
      summary: Update emergency contact
      description: Update an existing emergency contact for the specified user.
      operationId: updateEmergencyContact
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmergencyContactInput'
        required: true
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserEmergencyContact'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidFieldFormatResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidTokenResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorResponse'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardServerErrorResponse'
      security:
        - authentication: []
    delete:
      tags:
        - User emergency contact
      summary: Remove emergency contact
      description: Remove an emergency contact by ID for the specified user.
      operationId: removeEmergencyContact
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Deleted Successfully
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidFieldFormatResponse'
      security:
        - authentication: []
  /users/{userId}/children/{id}:
    put:
      tags:
        - User child
      summary: Update child
      description: Updates properties of a child by its ID for a specified user.
      operationId: updateChild
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChildInput'
        required: true
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserChild'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidFieldFormatResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidTokenResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorResponse'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardServerErrorResponse'
      security:
        - authentication: []
    delete:
      tags:
        - User child
      summary: Remove child
      description: Removes a child by its ID for a specified user.
      operationId: removeChild
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Deleted Successfully
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidFieldFormatResponse'
      security:
        - authentication: []
  /users:
    get:
      tags:
        - User
      summary: List users
      description: List users in the organization with filters and pagination.
      operationId: list
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 25
            maximum: 50
            minimum: 0
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 0
            minimum: 0
        - name: search
          in: query
          required: false
          schema:
            type: string
        - name: orderDirection
          in: query
          required: false
          schema:
            type: string
            enum:
              - ASC
              - DESC
        - name: jobTitle
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
              format: uuid
            maxItems: 25
            minItems: 0
            uniqueItems: true
        - name: team
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
              format: uuid
            maxItems: 25
            minItems: 0
            uniqueItems: true
        - name: location
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
              format: uuid
            maxItems: 25
            minItems: 0
            uniqueItems: true
        - name: company
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
              format: uuid
            maxItems: 25
            minItems: 0
            uniqueItems: true
        - name: supervisor
          in: query
          description: Users with supervisor ID. Use 'none' to filter users without a supervisor. Supports alias 'me' for current user.
          required: false
          schema:
            type: string
            description: Users with supervisor ID. Use 'none' to filter users without a supervisor. Supports alias 'me' for current user.
        - name: isSupervisor
          in: query
          required: false
          schema:
            type: boolean
        - name: isActive
          in: query
          required: false
          schema:
            type: boolean
        - name: notRecursivelySupervisorOf
          in: query
          required: false
          schema:
            type: string
            format: uuid
        - name: notRecursivelySubordinateOf
          in: query
          required: false
          schema:
            type: string
            format: uuid
        - name: permission
          in: query
          required: false
          schema:
            type: string
        - name: id
          in: query
          description: Set of user IDs to include. Supports alias 'me' for current user.
          required: false
          schema:
            type: array
            description: Set of user IDs to include. Supports alias 'me' for current user.
            items:
              type: string
              description: Set of user IDs to include. Supports alias 'me' for current user.
            maxItems: 25
            minItems: 0
            uniqueItems: true
        - name: excludeId
          in: query
          description: Set of user IDs to exclude. Supports alias 'me' for current user.
          required: false
          schema:
            type: array
            description: Set of user IDs to exclude. Supports alias 'me' for current user.
            items:
              type: string
              description: Set of user IDs to exclude. Supports alias 'me' for current user.
            maxItems: 25
            minItems: 0
            uniqueItems: true
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageUser'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidFieldFormatResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidTokenResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorResponse'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardServerErrorResponse'
      security:
        - authentication: []
    post:
      tags:
        - User
      summary: Create user
      description: Create a new user and optionally send an invitation.
      operationId: create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserInput'
        required: true
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidFieldFormatResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidTokenResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorResponse'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardServerErrorResponse'
      security:
        - authentication: []
  /users/{userId}/positions:
    get:
      tags:
        - Position
      summary: List positions
      description: Lists all positions for the specified user.
      operationId: list_1
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            format: int32
            minimum: 0
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            format: int32
            minimum: 0
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagePositionSummary'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidFieldFormatResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidTokenResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorResponse'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardServerErrorResponse'
      security:
        - authentication: []
    post:
      tags:
        - Position
      summary: Create position
      description: Creates a new position for the specified user.
      operationId: create_1
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PositionCreateInput'
        required: true
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Position'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidFieldFormatResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidTokenResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorResponse'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardServerErrorResponse'
      security:
        - authentication: []
  /users/{userId}/identifications:
    post:
      tags:
        - User identification
      summary: Add identification
      description: Adds an identification entry for the specified user.
      operationId: addIdentification
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IdentificationInput'
        required: true
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserIdentification'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidFieldFormatResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidTokenResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorResponse'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardServerErrorResponse'
      security:
        - authentication: []
  /users/{userId}/emergency:
    post:
      tags:
        - User emergency contact
      summary: Add emergency contact
      description: Add an emergency contact for the specified user.
      operationId: addEmergencyContact
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmergencyContactInput'
        required: true
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserEmergencyContact'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidFieldFormatResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidTokenResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorResponse'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardServerErrorResponse'
      security:
        - authentication: []
  /users/{userId}/children:
    post:
      tags:
        - User child
      summary: Add child
      description: Adds a child for a specified user by their ID.
      operationId: addChild
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChildInput'
        required: true
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserChild'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidFieldFormatResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidTokenResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorResponse'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardServerErrorResponse'
      security:
        - authentication: []
  /users/{id}/subordinates:
    get:
      tags:
        - User
      summary: List subordinates
      description: List all subordinates of a specific user by their ID.
      operationId: listSubordinates
      parameters:
        - name: id
          in: path
          description: ID of the user. Supports alias 'me' for current user.
          required: true
          schema:
            type: string
            description: ID of the user. Supports alias 'me' for current user.
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SimpleUser'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidFieldFormatResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidTokenResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorResponse'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardServerErrorResponse'
      security:
        - authentication: []
    post:
      tags:
        - User
      summary: Add subordinate
      description: Add subordinates to a specific user by their ID.
      operationId: addSubordinates
      parameters:
        - name: id
          in: path
          description: ID of the user. Supports alias 'me' for current user.
          required: true
          schema:
            type: string
            description: ID of the user. Supports alias 'me' for current user.
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
                format: uuid
        required: true
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SimpleUser'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidFieldFormatResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidTokenResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorResponse'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardServerErrorResponse'
      security:
        - authentication: []
  /users/{id}/resend-verify-email: {}
  /users/{id}/invite: {}
  /users/{id}/groups:
    post:
      tags:
        - User
      summary: Add user to groups
      description: Add the specified user to the given groups.
      operationId: addGroups
      parameters:
        - name: id
          in: path
          description: ID of the user. Supports alias 'me' for current user.
          required: true
          schema:
            type: string
            description: ID of the user. Supports alias 'me' for current user.
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
                format: uuid
        required: true
      responses:
        "200":
          description: Successful Response
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidFieldFormatResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidTokenResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorResponse'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardServerErrorResponse'
      security:
        - authentication: []
    delete:
      tags:
        - User
      summary: Remove user from groups
      description: Remove the specified user from the given groups.
      operationId: deleteGroups
      parameters:
        - name: id
          in: path
          description: ID of the user. Supports alias 'me' for current user.
          required: true
          schema:
            type: string
            description: ID of the user. Supports alias 'me' for current user.
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
                format: uuid
        required: true
      responses:
        "200":
          description: Successful Response
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidFieldFormatResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidTokenResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorResponse'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardServerErrorResponse'
      security:
        - authentication: []
  /users/{id}/deactivate: {}
  /users/{id}/cover-image: {}
  /users/{id}/avatar-image: {}
  /users/{id}/activate: {}
  /users/verify-email: {}
  /users/invite: {}
  /job-titles:
    get:
      tags:
        - Job Title
      summary: List job title summaries
      description: Lists job title summaries. Supports optional search.
      operationId: list_2
      parameters:
        - name: search
          in: query
          required: false
          schema:
            type: string
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/JobTitleSummary'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidFieldFormatResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidTokenResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorResponse'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardServerErrorResponse'
      security:
        - authentication: []
    post:
      tags:
        - Job Title
      summary: Create job title
      description: Creates a new job title with an optional description.
      operationId: create_2
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JobTitleCreateInput'
        required: true
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobTitle'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidFieldFormatResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidTokenResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorResponse'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardServerErrorResponse'
      security:
        - authentication: []
  /groups:
    get:
      tags:
        - Group
      summary: List groups
      description: List groups with optional filters and pagination.
      operationId: list_3
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 10
            maximum: 25
            minimum: 0
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 0
            minimum: 0
        - name: type
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
              enum:
                - team
                - location
                - company
            uniqueItems: true
        - name: search
          in: query
          required: false
          schema:
            type: string
        - name: orderDirection
          in: query
          required: false
          schema:
            type: string
            enum:
              - ASC
              - DESC
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageGroup'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidFieldFormatResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidTokenResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorResponse'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardServerErrorResponse'
      security:
        - authentication: []
    post:
      tags:
        - Group
      summary: Create group
      description: Creates a new group.
      operationId: create_3
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/CompanyCreateInput'
                - $ref: '#/components/schemas/LocationCreateInput'
                - $ref: '#/components/schemas/TeamCreateInput'
        required: true
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupDetails'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidFieldFormatResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidTokenResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorResponse'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardServerErrorResponse'
      security:
        - authentication: []
  /groups/{id}/members: {}
  /groups/{id}/grants: {}
  /groups/{id}/grant: {}
  /auth/passwordless/email: {}
  /auth/oauth/token:
    post:
      tags:
        - Authentication
      summary: Obtain token
      description: |-
        Post an OAuth2 grant_type ('code', 'client_credentials', 'refresh token') to obtain an access token
        Open API users should set grant_type to 'client_credentials'.
      operationId: tokenForm
      parameters:
        - name: Authorization
          in: header
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                grant_type:
                  type: string
                client_id:
                  type: string
                client_secret:
                  type: string
              required:
                - grant_type
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/AuthCodeGrantTypeInput'
                - $ref: '#/components/schemas/ClientCredentialsGrantTypeInput'
                - $ref: '#/components/schemas/EmailGrantTypeInput'
                - $ref: '#/components/schemas/PasswordGrantTypeInput'
                - $ref: '#/components/schemas/RefreshGrantTypeInput'
        required: true
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Credentials'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidFieldFormatResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidTokenResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorResponse'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardServerErrorResponse'
  /auth/oauth/revoke:
    post:
      tags:
        - Authentication
      summary: Revoke tokens
      description: Revoke the current user's tokens and invalidate the session.
      operationId: revoke
      responses:
        "200":
          description: Successful Response
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidFieldFormatResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidTokenResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorResponse'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardServerErrorResponse'
  /users/{userId}/positions/{id}:
    get:
      tags:
        - Position
      summary: Find position
      description: Finds a position by its ID for the specified user.
      operationId: find
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Position'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidFieldFormatResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidTokenResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorResponse'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardServerErrorResponse'
      security:
        - authentication: []
    delete:
      tags:
        - Position
      summary: Delete position
      description: Deletes a position by its ID for the specified user.
      operationId: delete
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Deleted Successfully
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidFieldFormatResponse'
      security:
        - authentication: []
    patch:
      tags:
        - Position
      summary: Update position
      description: Updates an existing position for the specified user.
      operationId: update
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PositionUpdateInput'
        required: true
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Position'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidFieldFormatResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidTokenResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorResponse'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardServerErrorResponse'
      security:
        - authentication: []
  /users/{id}:
    get:
      tags:
        - User
      summary: Get user
      description: Fetch detailed user information by ID.
      operationId: find_1
      parameters:
        - name: id
          in: path
          description: ID of the user. Supports alias 'me' for current user.
          required: true
          schema:
            type: string
            description: ID of the user. Supports alias 'me' for current user.
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserDetails'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidFieldFormatResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidTokenResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorResponse'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardServerErrorResponse'
      security:
        - authentication: []
    patch:
      tags:
        - User
      summary: Update user
      description: Update a user's details including personal info, employment fields, and groups.
      operationId: update_1
      parameters:
        - name: id
          in: path
          description: ID of the user. Supports alias 'me' for current user.
          required: true
          schema:
            type: string
            description: ID of the user. Supports alias 'me' for current user.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserDetailsInput'
        required: true
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserDetails'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidFieldFormatResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidTokenResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorResponse'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardServerErrorResponse'
      security:
        - authentication: []
  /job-titles/{id}:
    get:
      tags:
        - Job Title
      summary: Get job title
      description: Gets a job title by its ID.
      operationId: find_2
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobTitle'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidFieldFormatResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidTokenResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorResponse'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardServerErrorResponse'
      security:
        - authentication: []
    patch:
      tags:
        - Job Title
      summary: Update job title
      description: Updates the name or description for a job title.
      operationId: update_2
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JobTitleUpdateInput'
        required: true
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobTitle'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidFieldFormatResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidTokenResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorResponse'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardServerErrorResponse'
      security:
        - authentication: []
  /groups/{id}:
    get:
      tags:
        - Group
      summary: Get group
      description: Gets details for a specific group by its ID.
      operationId: find_3
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupDetails'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidFieldFormatResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidTokenResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorResponse'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardServerErrorResponse'
      security:
        - authentication: []
    patch:
      tags:
        - Group
      summary: Update group
      description: Updates properties of an existing group by its ID.
      operationId: update_3
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/CompanyUpdateInput'
                - $ref: '#/components/schemas/LocationUpdateInput'
                - $ref: '#/components/schemas/TeamUpdateInput'
        required: true
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupDetails'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidFieldFormatResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidTokenResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorResponse'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardServerErrorResponse'
      security:
        - authentication: []
  /groups/{id}/convert: {}
  /users/{id}/work-schedule:
    get:
      tags:
        - User
      summary: Get work schedule
      description: Gets the current work schedule for a specific user by their ID.
      operationId: findWorkSchedule
      parameters:
        - name: id
          in: path
          description: ID of the user. Supports alias 'me' for current user.
          required: true
          schema:
            type: string
            description: ID of the user. Supports alias 'me' for current user.
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkSchedule'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidFieldFormatResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidTokenResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorResponse'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardServerErrorResponse'
      security:
        - authentication: []
  /users/{id}/supervisor:
    get:
      tags:
        - User
      summary: Get supervisor for user
      description: Gets the supervisor of a specific user by their ID.
      operationId: findSupervisor
      parameters:
        - name: id
          in: path
          description: ID of the user. Supports alias 'me' for current user.
          required: true
          schema:
            type: string
            description: ID of the user. Supports alias 'me' for current user.
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Supervisor'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidFieldFormatResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidTokenResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorResponse'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardServerErrorResponse'
      security:
        - authentication: []
  /users/{id}/permissions: {}
  /users/{id}/permissions/{targetId}: {}
  /users/permissions: {}
  /users/jubilees:
    get:
      tags:
        - User
      summary: List jubilees
      description: List jubilees within a date range.
      operationId: listJubilees
      parameters:
        - name: fromDate
          in: query
          required: false
          schema:
            type: string
            format: date
        - name: toDate
          in: query
          required: false
          schema:
            type: string
            format: date
        - name: orderDirection
          in: query
          required: false
          schema:
            type: string
            enum:
              - ASC
              - DESC
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageJubilee'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidFieldFormatResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidTokenResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorResponse'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardServerErrorResponse'
      security:
        - authentication: []
  /job-titles/paged: {}
  /holidays/{countryCode}:
    get:
      tags:
        - Holiday
      summary: List public holidays
      description: List public holidays for a country within the specified date range.
      operationId: findDaysForCountry
      parameters:
        - name: countryCode
          in: path
          required: true
          schema:
            type: string
            format: ISO 3166-1 alpha-2
        - name: fromDate
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: toDate
          in: query
          required: true
          schema:
            type: string
            format: date
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                  format: date
                uniqueItems: true
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidFieldFormatResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidTokenResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorResponse'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardServerErrorResponse'
      security:
        - authentication: []
  /auth/providers: {}
  /auth/providers/{providerType}: {}
  /auth/organizations: {}
  /groups/{id}/members/{userId}: {}
components:
  schemas:
    IdentificationInput:
      type: object
      properties:
        type:
          type: string
          enum:
            - national
            - passport
        country:
          type: string
          maxLength: 2
          minLength: 0
        value:
          type: string
          maxLength: 255
          minLength: 1
      required:
        - country
        - type
        - value
    InvalidFieldFormatResponse:
      type: object
      properties:
        errorCode:
          type: string
          example: field:invalid-format
        errorMessage:
          type: string
          description: error Message
          example: Invalid field Format
        fields:
          type: array
          example: id
          items:
            type: string
          uniqueItems: true
    InvalidTokenResponse:
      type: object
      properties:
        error:
          type: string
          example: invalid_token
        error_description:
          type: string
          example: 'example: User does not exist'
      required:
        - error
        - error_description
    NotFoundErrorResponse:
      type: object
      properties:
        errorCode:
          type: string
          example: object:not-found
        errorMessage:
          type: string
          example: Object not found
        interpolations:
          type: object
          additionalProperties:
            type: string
          example: '{ type: ObjectType , id: UUID }'
      required:
        - errorCode
        - errorMessage
        - interpolations
    Header:
      type: object
      properties:
        elements:
          type: array
          items:
            $ref: '#/components/schemas/HeaderElement'
        name:
          type: string
        value:
          type: string
    HeaderElement:
      type: object
      properties:
        name:
          type: string
        value:
          type: string
        parameterCount:
          type: integer
          format: int32
        parameters:
          type: array
          items:
            $ref: '#/components/schemas/NameValuePair'
    HttpEntity:
      type: object
      properties:
        content: {}
        contentLength:
          type: integer
          format: int64
        streaming:
          type: boolean
        repeatable:
          type: boolean
        chunked:
          type: boolean
        contentType:
          $ref: '#/components/schemas/Header'
        contentEncoding:
          $ref: '#/components/schemas/Header'
    HttpParams: {}
    HttpResponse:
      type: object
      properties:
        statusCode:
          type: integer
          format: int32
          writeOnly: true
        entity:
          $ref: '#/components/schemas/HttpEntity'
        locale:
          type: string
        statusLine:
          $ref: '#/components/schemas/StatusLine'
        reasonPhrase:
          type: string
          writeOnly: true
        headers:
          type: array
          items:
            $ref: '#/components/schemas/Header'
          writeOnly: true
        params:
          $ref: '#/components/schemas/HttpParams'
          deprecated: true
        protocolVersion:
          $ref: '#/components/schemas/ProtocolVersion'
        allHeaders:
          type: array
          items:
            $ref: '#/components/schemas/Header'
        header:
          $ref: '#/components/schemas/Header'
          writeOnly: true
    NameValuePair:
      type: object
      properties:
        name:
          type: string
        value:
          type: string
    ProtocolVersion:
      type: object
      properties:
        protocol:
          type: string
        major:
          type: integer
          format: int32
        minor:
          type: integer
          format: int32
    StandardServerErrorResponse:
      type: object
      properties:
        timestamp:
          type: string
          description: Current timestamp
          example: "2021-02-26T11:11:10.152Z"
        status:
          $ref: '#/components/schemas/HttpResponse'
          description: Response Error Code
          example: 500
        error:
          type: string
          description: Internal Server Error
          example: Internal Server Error
        message:
          type: string
        path:
          type: string
          description: Path of the endpoint
          example: /endpoint name
      required:
        - error
        - message
        - path
        - status
        - timestamp
    StatusLine:
      type: object
      properties:
        reasonPhrase:
          type: string
        statusCode:
          type: integer
          format: int32
        protocolVersion:
          $ref: '#/components/schemas/ProtocolVersion'
    UserIdentification:
      type: object
      properties:
        id:
          type: string
          format: uuid
        type:
          type: string
          enum:
            - national
            - passport
        value:
          type: string
        country:
          type: string
      required:
        - id
        - type
        - value
    EmergencyContactInput:
      type: object
      properties:
        name:
          type: string
          maxLength: 255
          minLength: 0
        phone:
          type: string
          maxLength: 255
          minLength: 0
        relation:
          type: string
          maxLength: 255
          minLength: 0
      required:
        - name
        - phone
    UserEmergencyContact:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        phone:
          type: string
        relation:
          type: string
      required:
        - id
        - name
    ChildInput:
      type: object
      properties:
        name:
          type: string
          maxLength: 255
          minLength: 0
        birthDate:
          type: string
          format: date
          description: birthDate can be Past or Present only
      required:
        - name
    UserChild:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        birthDate:
          type: string
          format: date
      required:
        - id
        - name
    UserInput:
      type: object
      properties:
        givenName:
          type: string
          maxLength: 255
          minLength: 0
        familyName:
          type: string
          maxLength: 255
          minLength: 0
        preferredName:
          type: string
          maxLength: 255
          minLength: 0
        email:
          type: string
        phone:
          type: string
        supervisor:
          type: string
          format: uuid
        invite:
          type: boolean
        inviteSubject:
          type: string
        inviteMessage:
          type: string
        inviteLanguage:
          type: string
          format: ISO 639-1
        groups:
          type: array
          items:
            type: string
            format: uuid
          uniqueItems: true
      required:
        - email
        - familyName
        - givenName
        - groups
    AccountStatus:
      type: object
      properties:
        active:
          type: boolean
        deactivatedBy:
          description: Not returned in user lists
          required:
            - email
            - familyName
            - givenName
            - id
            - jobTitles
            - type
        deactivatedAt:
          type: string
          format: date-time
          description: Not returned in user lists
      required:
        - active
    Address:
      type: object
      properties:
        line1:
          type: string
        line2:
          type: string
        line3:
          type: string
        postalCode:
          type: string
        city:
          type: string
        country:
          type: string
      required:
        - city
        - country
        - line1
        - postalCode
    Company:
      allOf:
        - $ref: '#/components/schemas/Group'
        - type: object
          properties:
            organizationNumber:
              type: string
            invalidOrganizationNumber:
              type: boolean
            address:
              $ref: '#/components/schemas/Address'
      required:
        - id
        - name
        - type
    Group:
      type: object
      discriminator:
        propertyName: type
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        members:
          type: array
          items:
            $ref: '#/components/schemas/SimpleUser'
        type:
          type: string
          enum:
            - organization
            - user
            - location
            - team
            - subordinates
            - company
            - service_user
      required:
        - id
        - name
        - type
    HumaImage:
      type: object
      properties:
        url:
          type: string
        width:
          type: integer
          format: int32
        height:
          type: integer
          format: int32
      required:
        - url
    JobTitleSummary:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
      required:
        - id
        - name
    Location:
      allOf:
        - $ref: '#/components/schemas/Group'
        - type: object
          properties:
            address:
              $ref: '#/components/schemas/Address'
      required:
        - id
        - name
        - type
    SimpleUser:
      allOf:
        - $ref: '#/components/schemas/SimpleOrgUnit'
        - type: object
          properties:
            id:
              type: string
              format: uuid
            givenName:
              type: string
            familyName:
              type: string
            preferredName:
              type: string
            email:
              type: string
            phone:
              type: string
            avatarUrl:
              type: string
            avatarImage:
              $ref: '#/components/schemas/HumaImage'
            jobTitle:
              $ref: '#/components/schemas/JobTitleSummary'
            jobTitles:
              type: array
              items:
                $ref: '#/components/schemas/JobTitleSummary'
            type:
              type: string
              enum:
                - organization
                - user
                - location
                - team
                - subordinates
                - company
                - service_user
            status:
              $ref: '#/components/schemas/AccountStatus'
            invitedAt:
              type: string
              format: date-time
      required:
        - email
        - familyName
        - givenName
        - id
        - jobTitles
        - type
    Team:
      allOf:
        - $ref: '#/components/schemas/Group'
      required:
        - id
        - name
        - type
    User:
      type: object
      properties:
        id:
          type: string
          format: uuid
        givenName:
          type: string
        familyName:
          type: string
        preferredName:
          type: string
        email:
          type: string
        phone:
          type: string
        avatarUrl:
          type: string
          deprecated: true
          description: Use avatarImage instead
        avatarImage:
          $ref: '#/components/schemas/HumaImage'
        jobTitle:
          $ref: '#/components/schemas/JobTitleSummary'
          deprecated: true
          description: Use jobTitles instead
        jobTitles:
          type: array
          items:
            $ref: '#/components/schemas/JobTitleSummary'
        teams:
          type: array
          items:
            $ref: '#/components/schemas/Team'
        locations:
          type: array
          items:
            $ref: '#/components/schemas/Location'
        companies:
          type: array
          items:
            $ref: '#/components/schemas/Company'
        groups:
          type: array
          items:
            oneOf:
              - $ref: '#/components/schemas/Group'
              - $ref: '#/components/schemas/Company'
              - $ref: '#/components/schemas/Location'
              - $ref: '#/components/schemas/Team'
        type:
          type: string
          enum:
            - organization
            - user
            - location
            - team
            - subordinates
            - company
            - service_user
        status:
          $ref: '#/components/schemas/AccountStatus'
      required:
        - email
        - familyName
        - givenName
        - id
        - jobTitles
        - status
        - type
    PositionCreateInput:
      type: object
      properties:
        contractStartDate:
          type: string
          format: date
        firstDayOfWork:
          type: string
          format: date
        contractCountry:
          type: string
          maxLength: 2
          minLength: 0
        contractType:
          type: string
          enum:
            - Permanent
            - Temporary
            - Seasonal
            - Casual
            - Trainee
            - JobTrainingProgram
            - Consultant
            - Freelance
            - ThirdParty
            - Other
        percentage:
          type: integer
          format: int32
          default: 100
          maximum: 100
          minimum: 0
        probationEndDate:
          type: string
          format: date
        titleId:
          type: string
          format: uuid
        description:
          type: string
          maxLength: 10200
          minLength: 0
        note:
          type: string
          maxLength: 255
          minLength: 0
        contractEndDate:
          type: string
          format: date
        lastDayOfWork:
          type: string
          format: date
        terminationNoticeDate:
          type: string
          format: date
        endReason:
          type: string
          enum:
            - change_in_organization_or_internal_job_transfer
            - employee_resigned
            - employee_terminated
            - temporary_contract_or_position_ended
            - change_in_payroll_system_or_accountant
            - other
        endNote:
          type: string
          maxLength: 255
          minLength: 0
        wantedEnd:
          type: boolean
      required:
        - contractStartDate
        - contractType
        - titleId
    FieldBoolean:
      type: object
      properties:
        value:
          type: boolean
        editable:
          type: boolean
        completeness:
          type: string
          enum:
            - details
            - important
        integrations:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/IntegrationMeta'
      required:
        - editable
    FieldContractType:
      type: object
      properties:
        value:
          type: string
          enum:
            - Permanent
            - Temporary
            - Seasonal
            - Casual
            - Trainee
            - JobTrainingProgram
            - Consultant
            - Freelance
            - ThirdParty
            - Other
        editable:
          type: boolean
        completeness:
          type: string
          enum:
            - details
            - important
        integrations:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/IntegrationMeta'
      required:
        - editable
    FieldInteger:
      type: object
      properties:
        value:
          type: integer
          format: int32
        editable:
          type: boolean
        completeness:
          type: string
          enum:
            - details
            - important
        integrations:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/IntegrationMeta'
      required:
        - editable
    FieldJobTitle:
      type: object
      properties:
        value:
          $ref: '#/components/schemas/JobTitle'
        editable:
          type: boolean
        completeness:
          type: string
          enum:
            - details
            - important
        integrations:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/IntegrationMeta'
      required:
        - editable
    FieldPositionEndReason:
      type: object
      properties:
        value:
          type: string
          enum:
            - change_in_organization_or_internal_job_transfer
            - employee_resigned
            - employee_terminated
            - temporary_contract_or_position_ended
            - change_in_payroll_system_or_accountant
            - other
        editable:
          type: boolean
        completeness:
          type: string
          enum:
            - details
            - important
        integrations:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/IntegrationMeta'
      required:
        - editable
    FieldString:
      type: object
      properties:
        value:
          type: string
        editable:
          type: boolean
        completeness:
          type: string
          enum:
            - details
            - important
        integrations:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/IntegrationMeta'
      required:
        - editable
    IntegrationMeta:
      type: object
      properties:
        warning:
          type: string
          enum:
            - locked_disconnect
            - possibly_locked_disconnect
      required:
        - warning
    JobTitle:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
      required:
        - id
        - name
    LocalDateField:
      type: object
      properties:
        value:
          type: string
          format: date
        editable:
          type: boolean
        completeness:
          type: string
          enum:
            - details
            - important
      required:
        - editable
    Position:
      type: object
      properties:
        id:
          type: string
          format: uuid
        contractStartDate:
          $ref: '#/components/schemas/LocalDateField'
        contractEndDate:
          $ref: '#/components/schemas/LocalDateField'
        firstDayOfWork:
          $ref: '#/components/schemas/LocalDateField'
        lastDayOfWork:
          $ref: '#/components/schemas/LocalDateField'
        contractCountry:
          $ref: '#/components/schemas/FieldString'
        contractType:
          $ref: '#/components/schemas/FieldContractType'
        percentage:
          $ref: '#/components/schemas/FieldInteger'
        terminationNoticeDate:
          $ref: '#/components/schemas/LocalDateField'
        probationEndDate:
          $ref: '#/components/schemas/LocalDateField'
        title:
          $ref: '#/components/schemas/FieldJobTitle'
        description:
          $ref: '#/components/schemas/FieldString'
        endNote:
          $ref: '#/components/schemas/FieldString'
        endReason:
          $ref: '#/components/schemas/FieldPositionEndReason'
        wantedEnd:
          $ref: '#/components/schemas/FieldBoolean'
        status:
          type: string
          enum:
            - CURRENT
            - ENDED
            - UPCOMING
        note:
          $ref: '#/components/schemas/FieldString'
      required:
        - id
    JobTitleCreateInput:
      type: object
      properties:
        name:
          type: string
          maxLength: 255
          minLength: 0
        description:
          type: string
          maxLength: 10200
          minLength: 0
      required:
        - name
    AddressInput:
      type: object
      properties:
        line1:
          type: string
          maxLength: 255
          minLength: 0
        line2:
          type: string
          maxLength: 255
          minLength: 0
        line3:
          type: string
          maxLength: 255
          minLength: 0
        postalCode:
          type: string
          maxLength: 255
          minLength: 0
        city:
          type: string
          maxLength: 255
          minLength: 0
        country:
          type: string
          maxLength: 2
          minLength: 0
      required:
        - city
        - country
        - line1
        - postalCode
    CompanyCreateInput:
      allOf:
        - $ref: '#/components/schemas/GroupCreateInput'
        - type: object
          properties:
            organizationNumber:
              type: string
            address:
              $ref: '#/components/schemas/AddressInput'
      required:
        - name
    GroupCreateInput:
      type: object
      discriminator:
        propertyName: type
      properties:
        name:
          type: string
          maxLength: 255
          minLength: 0
        members:
          type: array
          items:
            $ref: '#/components/schemas/UUIDWrapper'
          uniqueItems: true
        description:
          type: string
          maxLength: 2040
          minLength: 0
        links:
          type: array
          items:
            $ref: '#/components/schemas/Link'
          maxItems: 50
          minItems: 0
        type:
          type: string
      required:
        - name
        - type
    Link:
      type: object
      properties:
        name:
          type: string
          maxLength: 255
          minLength: 0
        url:
          type: string
          maxLength: 1020
          minLength: 0
      required:
        - name
        - url
    LocationCreateInput:
      allOf:
        - $ref: '#/components/schemas/GroupCreateInput'
        - type: object
          properties:
            address:
              $ref: '#/components/schemas/AddressInput'
      required:
        - name
    TeamCreateInput:
      allOf:
        - $ref: '#/components/schemas/GroupCreateInput'
      required:
        - name
    UUIDWrapper:
      type: object
      properties:
        id:
          type: string
          format: uuid
      required:
        - id
    GroupDetails:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        members:
          type: array
          items:
            $ref: '#/components/schemas/User'
        grants:
          type: array
          items:
            $ref: '#/components/schemas/OrgUnitGrant'
        description:
          type: string
        links:
          type: array
          items:
            $ref: '#/components/schemas/Link'
      required:
        - id
        - name
    GroupRoleGrant:
      allOf:
        - $ref: '#/components/schemas/RoleGrant'
        - type: object
          properties:
            user:
              $ref: '#/components/schemas/SimpleUser'
            groups:
              type: array
              items:
                oneOf:
                  - $ref: '#/components/schemas/SimpleCompany'
                  - $ref: '#/components/schemas/SimpleLocation'
                  - $ref: '#/components/schemas/SimpleOrganization'
                  - $ref: '#/components/schemas/SimpleTeam'
                  - $ref: '#/components/schemas/SimpleUser'
      required:
        - domain
        - user
    OrgUnitGrant:
      type: object
      properties:
        role:
          $ref: '#/components/schemas/Role'
        users:
          type: array
          items:
            $ref: '#/components/schemas/SimpleUser'
      required:
        - role
        - users
    OrganizationRoleGrant:
      allOf:
        - $ref: '#/components/schemas/RoleGrant'
        - type: object
          properties:
            user:
              $ref: '#/components/schemas/SimpleUser'
      required:
        - domain
        - user
    Role:
      type: object
      properties:
        domain:
          type: string
          enum:
            - user
            - organization
        id:
          type: string
          format: uuid
        name:
          type: string
        permissions:
          type: array
          items:
            type: string
          uniqueItems: true
        deletable:
          type: boolean
        assignable:
          type: boolean
        updatable:
          type: boolean
        description:
          type: string
        grants:
          type: array
          items:
            oneOf:
              - $ref: '#/components/schemas/GroupRoleGrant'
              - $ref: '#/components/schemas/OrganizationRoleGrant'
        features:
          type: array
          items:
            type: string
      required:
        - assignable
        - deletable
        - domain
        - id
        - name
        - permissions
        - updatable
    RoleGrant:
      type: object
      discriminator:
        propertyName: domain
      properties:
        domain:
          type: string
          enum:
            - user
            - organization
      required:
        - domain
    SimpleCompany:
      allOf:
        - $ref: '#/components/schemas/SimpleOrgUnit'
        - type: object
          properties:
            id:
              type: string
              format: uuid
            name:
              type: string
            type:
              type: string
              enum:
                - organization
                - user
                - location
                - team
                - subordinates
                - company
                - service_user
      required:
        - id
        - name
        - type
    SimpleLocation:
      allOf:
        - $ref: '#/components/schemas/SimpleOrgUnit'
        - type: object
          properties:
            id:
              type: string
              format: uuid
            name:
              type: string
            type:
              type: string
              enum:
                - organization
                - user
                - location
                - team
                - subordinates
                - company
                - service_user
      required:
        - id
        - name
        - type
    SimpleOrgUnit:
      discriminator:
        propertyName: type
      properties:
        type:
          type: string
      required:
        - type
    SimpleOrganization:
      allOf:
        - $ref: '#/components/schemas/SimpleOrgUnit'
        - type: object
          properties:
            id:
              type: string
              format: uuid
            name:
              type: string
            type:
              type: string
              enum:
                - organization
                - user
                - location
                - team
                - subordinates
                - company
                - service_user
      required:
        - id
        - type
    SimpleTeam:
      allOf:
        - $ref: '#/components/schemas/SimpleOrgUnit'
        - type: object
          properties:
            id:
              type: string
              format: uuid
            name:
              type: string
            type:
              type: string
              enum:
                - organization
                - user
                - location
                - team
                - subordinates
                - company
                - service_user
      required:
        - id
        - name
        - type
    Credentials:
      type: object
      properties:
        refresh_token:
          type: string
        token_type:
          type: string
        organizationId:
          type: string
          format: uuid
        userId:
          type: string
          format: uuid
        authOrigin:
          type: string
          format: uuid
        authProvider:
          type: string
        expires_in:
          type: integer
          format: int64
        access_token:
          type: string
      required:
        - access_token
        - expires_in
        - organizationId
        - token_type
        - userId
    AuthCodeGrantTypeInput:
      allOf:
        - $ref: '#/components/schemas/GrantTypeInput'
        - type: object
          properties:
            client_id:
              type: string
              format: uuid
            provider:
              type: string
              enum:
                - email_otp
                - email_password
                - google
                - microsoft
                - clerk
                - okta
                - auth0
                - azure
                - openid_connect
            providerId:
              type: string
              format: uuid
            code:
              type: string
            redirectUri:
              type: string
      required:
        - client_id
        - code
        - provider
    ClientCredentialsGrantTypeInput:
      allOf:
        - $ref: '#/components/schemas/GrantTypeInput'
        - type: object
          properties:
            client_id:
              type: string
              format: uuid
            client_secret:
              type: string
              format: uuid
      required:
        - client_id
        - client_secret
    EmailGrantTypeInput:
      allOf:
        - $ref: '#/components/schemas/GrantTypeInput'
        - type: object
          properties:
            client_id:
              type: string
              format: uuid
            email:
              type: string
            code:
              type: string
            redirectUri:
              type: string
      required:
        - client_id
        - code
        - email
    GrantTypeInput:
      discriminator:
        propertyName: grant_type
      properties:
        grant_type:
          type: string
      required:
        - grant_type
    PasswordGrantTypeInput:
      allOf:
        - $ref: '#/components/schemas/GrantTypeInput'
        - type: object
          properties:
            client_id:
              type: string
              format: uuid
            username:
              type: string
            password:
              type: string
            redirectUri:
              type: string
      required:
        - client_id
        - password
        - username
    RefreshGrantTypeInput:
      allOf:
        - $ref: '#/components/schemas/GrantTypeInput'
        - type: object
          properties:
            refresh_token:
              type: string
      required:
        - refresh_token
    PositionUpdateInput:
      type: object
      properties:
        contractStartDate:
          type: string
          format: date
        contractEndDate:
          type: string
          format: date
        contractCountry:
          type: string
          maxLength: 2
          minLength: 0
        firstDayOfWork:
          type: string
          format: date
        lastDayOfWork:
          type: string
          format: date
        contractType:
          type: string
          enum:
            - Permanent
            - Temporary
            - Seasonal
            - Casual
            - Trainee
            - JobTrainingProgram
            - Consultant
            - Freelance
            - ThirdParty
            - Other
        percentage:
          type: integer
          format: int32
          maximum: 100
          minimum: 0
        probationEndDate:
          type: string
          format: date
        titleId:
          type: string
          format: uuid
        description:
          type: string
          maxLength: 10200
          minLength: 0
        terminationNoticeDate:
          type: string
          format: date
        endNote:
          type: string
          maxLength: 255
          minLength: 0
        endReason:
          type: string
          enum:
            - change_in_organization_or_internal_job_transfer
            - employee_resigned
            - employee_terminated
            - temporary_contract_or_position_ended
            - change_in_payroll_system_or_accountant
            - other
        wantedEnd:
          type: boolean
        note:
          type: string
          maxLength: 255
          minLength: 0
    AddressUpdateInput:
      type: object
      properties:
        line1:
          type: string
          maxLength: 255
          minLength: 0
        line2:
          type: string
          maxLength: 255
          minLength: 0
        line3:
          type: string
          maxLength: 255
          minLength: 0
        postalCode:
          type: string
          maxLength: 255
          minLength: 0
        city:
          type: string
          maxLength: 255
          minLength: 0
        country:
          type: string
          format: ISO 3166-1 alpha-2
          maxLength: 2
          minLength: 0
      required:
        - city
        - country
        - line1
        - line2
        - line3
        - postalCode
    BankAccountInput:
      discriminator:
        propertyName: type
      properties:
        type:
          type: string
      required:
        - type
    InternationalBankAccountInput:
      allOf:
        - $ref: '#/components/schemas/BankAccountInput'
        - type: object
          properties:
            iban:
              type: string
            bic:
              type: string
      required:
        - bic
        - iban
    NationalBankAccountInput:
      allOf:
        - $ref: '#/components/schemas/BankAccountInput'
        - type: object
          properties:
            number:
              type: string
              maxLength: 255
              minLength: 0
            country:
              type: string
              format: ISO 3166-1 alpha-2
              maxLength: 2
              minLength: 0
      required:
        - country
        - number
    UserDetailsInput:
      type: object
      properties:
        givenName:
          type: string
          maxLength: 255
          minLength: 0
        familyName:
          type: string
          maxLength: 255
          minLength: 0
        preferredName:
          type: string
          maxLength: 255
          minLength: 0
        email:
          type: string
          maxLength: 255
          minLength: 0
        phone:
          type: string
          maxLength: 255
          minLength: 0
        nationality:
          type: string
          format: ISO 3166-1 alpha-2
          maxLength: 2
          minLength: 0
        birthDate:
          type: string
          format: date
        homeAddress:
          $ref: '#/components/schemas/AddressUpdateInput'
        civilStatus:
          type: string
          enum:
            - Married
            - Relationship
            - Single
        gender:
          type: string
          description: '''Male'', ''Female'' or free text'
          maxLength: 255
          minLength: 0
        dietaryRequirements:
          type: string
          maxLength: 2040
          minLength: 0
        interests:
          type: array
          items: {}
          maxItems: 50
          minItems: 0
        funfacts:
          type: string
          maxLength: 2040
          minLength: 0
        bankAccount:
          oneOf:
            - $ref: '#/components/schemas/InternationalBankAccountInput'
            - $ref: '#/components/schemas/NationalBankAccountInput'
        supervisor:
          type: string
          format: uuid
        employmentId:
          type: string
          maxLength: 255
          minLength: 0
        relevantExperienceInMonths:
          type: integer
          format: int32
        relevantExperienceInYears:
          type: integer
          format: int32
        seniorityNote:
          type: string
        excludeFromInsights:
          type: boolean
        excludeFromSurveys:
          type: boolean
        privateEmail:
          type: string
          maxLength: 255
          minLength: 0
        custom:
          type: object
          additionalProperties: {}
    BankAccount:
      type: object
      discriminator:
        propertyName: type
      properties:
        code:
          type: string
        type:
          type: string
      required:
        - code
        - type
    BirthDateField:
      type: object
      properties:
        value:
          type: string
          format: date
        editable:
          type: boolean
        showBirthday:
          type: boolean
        completeness:
          type: string
          enum:
            - details
            - important
      required:
        - editable
    Completeness:
      type: object
      properties:
        filled:
          type: integer
          format: int32
        available:
          type: integer
          format: int32
      required:
        - available
        - filled
    CustomFieldObject:
      type: object
      properties:
        label:
          type: string
        value: {}
        placeholder:
          type: string
        editable:
          type: boolean
        section:
          type: string
          enum:
            - intro
            - employment
            - personalia
            - misc
        type:
          type: string
          enum:
            - text
            - textarea
            - number
            - decimal
            - boolean
            - localdate
            - enum
            - url
        options:
          type: object
          additionalProperties:
            type: string
      required:
        - editable
        - label
        - section
        - type
    EmailField:
      type: object
      properties:
        value:
          type: string
        editable:
          type: boolean
        requestedValue:
          type: string
        integrations:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/IntegrationMeta'
      required:
        - editable
        - value
    FieldAddress:
      type: object
      properties:
        value:
          $ref: '#/components/schemas/Address'
        editable:
          type: boolean
        completeness:
          type: string
          enum:
            - details
            - important
        integrations:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/IntegrationMeta'
      required:
        - editable
    FieldBankAccount:
      type: object
      properties:
        value:
          oneOf:
            - $ref: '#/components/schemas/InternationalBankAccount'
            - $ref: '#/components/schemas/NationalBankAccount'
        editable:
          type: boolean
        completeness:
          type: string
          enum:
            - details
            - important
        integrations:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/IntegrationMeta'
      required:
        - editable
    FieldCivilStatus:
      type: object
      properties:
        value:
          type: string
          enum:
            - Married
            - Relationship
            - Single
        editable:
          type: boolean
        completeness:
          type: string
          enum:
            - details
            - important
        integrations:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/IntegrationMeta'
      required:
        - editable
    FieldHumaImage:
      type: object
      properties:
        value:
          $ref: '#/components/schemas/HumaImage'
        editable:
          type: boolean
        completeness:
          type: string
          enum:
            - details
            - important
        integrations:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/IntegrationMeta'
      required:
        - editable
    FieldListCompany:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/Company'
        editable:
          type: boolean
        completeness:
          type: string
          enum:
            - details
            - important
        integrations:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/IntegrationMeta'
      required:
        - editable
    FieldListGroup:
      type: object
      properties:
        value:
          type: array
          items:
            oneOf:
              - $ref: '#/components/schemas/Group'
              - $ref: '#/components/schemas/Company'
[...]
